<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

   <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="/stylesheets/cookbook_styles.css">
  <link rel="stylesheet" href="/stylesheets/navbar_style.css">
  <script src="/javascripts/landingPage.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</head>

<body>
<header>
    <%- include('../components/navbar.ejs', {uid})%>
</header>

<main>
    <!-- Welcome Text -->

    <!-- recipe List -->
    <div class="flex-container">
        <section class="card-flex-container">
            <h1 class="header-title top-recipes">Cook Book</h1>
            <!--Insert link to recipe page-->
            <%recipes.map(recipe => {%>
            <div class="recipeCard" onclick="window.location.href='/recipe_page/<%=recipe.rid?recipe.rid:recipe.id%>/<%=recipe.rid?true:false%>'">
    
                <div class="recipeCard">
                    <div class="cardText">
                        <p class="recipeTitle"><%=recipe.title%></p>
                        <p class="card-details"><%=recipe.rid?recipe.ready_in_minutes:recipe.readyInMinutes%> Mins</p>
                        <%if (recipe.is_creator){ %><a class="card-tags" class="btn" href='/dashboard/modify_recipe/<%=recipe.id%>'>Modify</a> |<%}%> <a class="card-tags" href="<%=recipe.rid?`/dashboard/delete_recipe/${recipe.rid}`:`/dashboard/delete_spoon_recipe/${recipe.id}`%>">Delete</a>
    
                    </div>
                    <img src="<%=recipe.image%>"
                         class="cardImage">
                </div>
            </div>
            <%});%>
            <div class="recipeNew">
                <a class="button" href="/dashboard/new_recipe">+Add Custom Recipe</a>
            </div>
        </section>
    </div>
    
</main>
</body>

</html>
