<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/landingPage.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>


</head>

<body>
  <header>
    <div class="nav-container" id="myTopnav">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div>
          <!--logo div-->
          <!-- <span class="icon" id="hot-dawg-icon"></span> -->
          <!--SOME PNG LOGO-->
          <a href="/">
            <span class="nav-title">HOT DAWG</span>
            <span class="icon" id="hot-dawg-icon"></span>
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
            <a class="nav-link" href="#">Saved</a>
          </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter"
                  viewBox="0 0 16 16">
                  <path
                    d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
                Filter By Types
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <form class="dropdown-form" action="">

                  <label class="dropdown-item" href="#" for="Popular"><input type="checkbox" id="Popular" name="Popular" value="Popular">
                    Popular
                  </label>
                  <label class="dropdown-item" href="#" for="Easy Cook"><input type="checkbox" id="Easy Cook" name="Easy Cook" value="Easy Cook">
                 Easy Cook
                  </label>
                  <label class="dropdown-item" href="#" for="Breakfast"><input type="checkbox" id="Breakfast" name="Breakfast" value="Breakfast">
                  Breakfast
                  </label>
                  <label class="dropdown-item" href="#" for="Lunch"><input type="checkbox" id="Lunch" name="Lunch" value="Lunch">
                   Lunch
                  </label>
                  <label class="dropdown-item" href="#" for="Dinner"><input type="checkbox" id="Dinner" name="Dinner" value="Dinner">
                    Dinner
                  </label>
                  <label class="dropdown-item" href="#" for="Egg Recipes"><input type="checkbox" id="Egg Recipes" name="Egg Recipes"
                      value="Egg Recipes">
                    Egg Recipes
                  </label>
                  <label class="dropdown-item" href="#" for="Salad"><input type="checkbox" id="Salad" name="Salad" value="Salad">
                    Salad
                  </label>
                </form>




              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Health
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Body Calculator</a>
                <a class="dropdown-item" href="#">Calories Tracker</a>
              </div>
            </li>
            <!-- <script>if(the user haven't logged in){
              nav-item-dropdown.dropdown-item,display = "none";

              } </script> -->

            <!--user is logged in pfp and dropdown-->
            <!-- <li class="nav-item-dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                class="nav-profile"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                width="100px"
                alt=""
              />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Saved Recipes</a>
              <a class="dropdown-item" href="#">My Measurements</a>
              <a class="dropdown-item" href="#">My Cookbook</a>
              <a class="dropdown-item" href="#">Add My Own Recipes</a>
              <a class="logOutbtn dropdown-item" href="#">Log Out</a>
            </div>
          </li> -->

            <!--log in and sign up buttons-->
            <li class="nav-item-dropdown"></li>
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0 flex-container" href="/signup">
                <span class="bi bi-person"> </span>
                Sign up
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-dark my-2 my-sm-0 flex-container" href="/login">
                <span class="bi bi-box-arrow-in-right"> </span>
                Login
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>

  <main>
    <!-- Welcome Text -->

    <!-- recipe List -->
    <section class="flex-container" id="top-recipe">
      <!-- Insert Recipes Here -->

      <section class="card-flex-container">
        <h1 class="header-title top-recipes">Top Recipes</h1>
        <%topRecipes.map(recipe => {%>
        <!--<a href="/recipe_page/<%=recipe.id%>/false">-->
        <!--Insert link to recipe page-->
        <div class="recipeCard" onclick="window.location.href='/recipe_page/<%=recipe.id%>/false'">
          <div class="bookmark-icon">
            <!--TODO: Replace with some kind of unique identifier for the bookmark in each card-->
            <i class="bi bi-bookmark" id="someIdFromDatabase" style="font-size: 2em;"
              onclick="event.stopPropagation();"></i>
          </div>
          <div class="cardText">
            <p class="recipeTitle"><%=recipe.title%></p>
            <p class="card-tags">Health Score: <%=recipe.healthScore%></p>
            <p class="card-details"><%=recipe.readyInMinutes%> Mins | <%=recipe.extendedIngredients.length%> Ingredients
            </p>
          </div>
          <img src="<%=recipe.image%>" class="cardImage">
        </div>
        <!--</a>-->
        <%});%>
      </section>

    </section>
  </main>
</body>

</html>